body {
    background-color: white;
    margin: 60px 0 0 0;
    padding: 0;
}


div.block{
    padding: 10px 0px 40px 20px;
    margin: 0 0;
}


ul.menu {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    top: 0;
    height: 61px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: #45c;
}

ul.menu li{
    float: left;
    padding: 15px 15px 0 15px;
    font-size: 25px;
}

ul.menu li.main{
    padding: 10px 30px 0 15px;
    font-size: 30px;
}


ul.menu li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    transition-duration: 0.2s;
}